<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Coronavirus Tracker Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container ">
		<h1>Coronavirus Tracker Application</h1>
		<p>This application lists the current number of cases reported
			across the globe</p>

		<div class="jumbotron">
			<h1 class="display-4" th:text="${totalReportedCases}"></h1>
			<p class="lead">Total confirmed cases reported as of today</p>
			<h1 class="display-4 text-success"
				th:text="${totalReportedRecoveredCases}"></h1>
			<p class="lead text-success">Total Recovered cases reported as of
				today</p>
			<h1 class="display-4 text-danger" th:text="${totalReportedDeadCases}"></h1>
			<p class="lead text-danger">Total Dead cases reported as of today</p>
			<hr class="my-4">
			<p>
				<span>New confirmed cases reported since previous day:</span> <span
					th:text="${totalNewCases}"></span>
			</p>
			<p class="lead text-success">
				<span>New Recovered cases reported since previous day:</span> <span
					th:text="${totalNewRecoveredCases}"></span>

			</p>
			<p class="lead text-danger">
				<span>New Dead cases reported since previous day:</span> <span
					th:text="${totalNewDeadCases}"></span>

			</p>
			<p class="lead text-danger">
				<span>Mortality Rate:</span> <span th:text="${mortalityRate}"></span>

			</p>
			<p>
				<span>Last Update on:</span> <span th:text="${lastUpdateOn}"></span>

			</p>
			<!-- <p>
				<span> The coronavirus COVID-19 is affecting </span><span
					th:text="${totalCountry}"></span> <span> countries/
					territories/ international conveyance around the world.</span>

			</p> -->

		</div>
		<p>
			<input class="form-control" id="searchInput" type="text"
				placeholder="Search...">
		</p>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>

					<th>Country</th>
					<th>State</th>
					<th>latitude</th>
					<th>longitude</th>

					<th>Total cases</th>
					<th>New Cases</th>
					<th>Total Deaths</th>
					<th>Total Recovered</th>

				</tr>
			</thead>
			<tbody id="myTable">

				<tr th:each="locationStat : ${locationStats}">
					<td th:text="${locationStat.country}"></td>
					<td th:text="${locationStat.state}"></td>
					<td th:text="${locationStat.latitude}">0</td>
					<td th:text="${locationStat.longitude}">0</td>
					<td th:text="${locationStat.latestTotalCases}">0</td>
					<td th:text="${locationStat.diffFromPrevDay}">0</td>
					<td th:text="${locationStat.latestTotalDeadCases}">0</td>
					<td th:text="${locationStat.latestTotalRecoveredCases}">0</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		$(document)
				.ready(
						function() {
							$("#searchInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>
</body>

</html>